snippet tvshow
	<tvhow>
	<title>${1}</title>
	<rating>9.900</rating>
	<season>1</season>
	<displayseason>1</displayseason>
	<displayepisode>1</displayepisode>
	<plot>${2}</plot>
	<genre>${3}</genre>
	<premiered></premiered>
	<studio></studio>
	</tvshow>
snippet episode
	<episodedetails>
	<title>${1}</title>
	<season>${2:1}</season>
	<episode>${3}</episode>
	<plot>${4}</plot>
	</episodedetails>
snippet music
	<musicvideo>
	<title>${1}</title>
	<artist>${2}</artist>
	</musicvideo>


