[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "bundle/taskpaper"]
	path = bundle/taskpaper
	url = https://github.com/davidoc/taskpaper.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/table-mode"]
	path = bundle/table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/vim-ros"]
	path = bundle/vim-ros
	url = https://github.com/taketwo/vim-ros.git
[submodule "bundle/ShowTrailingWhitespace"]
	path = bundle/ShowTrailingWhitespace
	url = https://github.com/vim-scripts/ShowTrailingWhitespace.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-lldb"]
	path = bundle/vim-lldb
	url = https://github.com/gilligan/vim-lldb.git
